/*@import url('https://fonts.googleapis.com/css2?family=Montserrat');*/

body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}


.header-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.header-control-wrapper {
    background-color: #009C93;
}

.header-control__contact a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.header-control__contact a:first-child {
    margin-right: 70px;
}

.header-control__contact a:hover {
    color: #eaeaea;
}

.header-control__lang {
    height: 100%;
    display: flex;
}

.header-control__lang a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    color: #ffffff;
}

.header-control__lang a.active {
    background: rgba(0, 0, 0, 0.2);
}

.header-control__lang a:hover:not(.active) {
    background: rgba(0, 0, 0, 0.1);
}

.navbar {
    padding: 4px 0;
}

.header-nav {
    display: flex;
    padding: 10px 0;
}

.header-nav__logo {
    width: 200px;
}

.header-nav__tel {
    display: none;
}

.header-nav__tel a {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon-close {
    display: none;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='512px' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' width='512px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .st0%7Bdisplay:inline;%7D .st1%7Bfill:none;stroke:%23000000;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st2%7Bdisplay:none;%7D%0A%5D%5D%3E%3C/style%3E%3Cg class='st2' id='cross'%3E%3Cg class='st0'%3E%3Cline class='st1' x1='112.5' x2='401' y1='112.5' y2='401'/%3E%3Cline class='st1' x1='401' x2='112.5' y1='112.5' y2='401'/%3E%3C/g%3E%3C/g%3E%3Cg id='cross_copy'%3E%3Cpath d='M268.064,256.75l138.593-138.593c3.124-3.124,3.124-8.189,0-11.313c-3.125-3.124-8.189-3.124-11.314,0L256.75,245.436 L118.157,106.843c-3.124-3.124-8.189-3.124-11.313,0c-3.125,3.124-3.125,8.189,0,11.313L245.436,256.75L106.843,395.343 c-3.125,3.125-3.125,8.189,0,11.314c1.562,1.562,3.609,2.343,5.657,2.343s4.095-0.781,5.657-2.343L256.75,268.064l138.593,138.593 c1.563,1.562,3.609,2.343,5.657,2.343s4.095-0.781,5.657-2.343c3.124-3.125,3.124-8.189,0-11.314L268.064,256.75z'/%3E%3C/g%3E%3C/svg%3E");
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-close {
    display: inline-block;
}

.social-media {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 30px;
}

.social-media a {
    color: #000000;
    font-weight: 500;
}

.navbar-menu .nav-item .nav-link {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
}

.navbar-menu .nav-item .nav-link.active {
    color: #009C93;
}

.navbar-menu .nav-item .dropdown-item {
    font-weight: 500;
    font-size: 14px;
}

.navbar-collapse .header-control__lang {
    display: none;
    height: unset;
    margin: 45px 0 25px;
}

.navbar-collapse .header-control__lang a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
}

.navbar-collapse .header-control__lang a.active {
    color: #000000;
    background: none;
}

.navbar-collapse .header-control__lang a:hover:not(.active) {
    color: rgba(0, 0, 0, 0.8);
    background: none;
}

.navbar-line {
    display: none;
}

.footer-wrapper {
    background-color: #F9F9F9;
}

.footer {
    display: flex;
    padding: 70px 0 0;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.footer-left {

}

.footer-right {
    justify-content: right;
    margin-bottom: 80px;
}

.menu-first-list, .menu-second-list {
    display: flex;
    flex-direction: column;
}

.menu-first-list {
    width: 330px;
}

.footer-left .menu-item a {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    display: inline-block;
}

.footer-left .menu-item-sub {
    display: flex;
    flex-direction: column;
}

.footer-left .menu-item-sub a {
    font-size: 14px;
    font-weight: 500;
    color: #818181;
}

.footer-left .menu-item.menu-item-select {
    margin-bottom: 25px;
}

.footer-left .menu-item.menu-item-select a {
    margin-bottom: 20px;
}

.footer-left .menu-item:not(.menu-item-select) {
    margin-bottom: 45px;
}

.footer-contact .icon-group:first-child {
    margin-bottom: 20px;
}

.icon-group {
    display: flex;
    align-items: center;
}

.icon-phone {
    content: url('../images/icon/phone.png');
}

.icon-phone + a {
    margin-left: 20px;
    font-size: 26px;
    font-weight: 500;
    color: #000000;
}

.icon-mail {
    content: url('../images/icon/mail.png');
}

.icon-mail + a {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.copyright {
    text-align: center;
    padding-bottom: 22px;
    font-size: 12px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .header-control-wrapper {
        display: none;
    }

    .header-nav__tel {
        display: block;
    }

    .header-nav__logo {
        width: 40px;
        margin: 0 20px;
    }

    .header-nav__logo img {
        width: 40px;
    }

    .footer {
        padding: 50px 40px 0;
    }

    .footer-left, .footer-right {
        width: 100%;
    }

    .footer-right {
        justify-content: unset;
    }

    .navbar-collapse {
        /*box-shadow: inset 0 8px 4px -4px rgba(0, 0, 0, 0.05);*/
    }

    .navbar-line {
        display: block;
        height: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    }

    .navbar-collapse .header-control__lang {
        display: flex;
    }

    .navbar-collapse {
        /*padding: 0 25px;*/
        line-height: 2;
    }

    .navbar-collapse-body {
        padding: 0 25px;
    }

    .social-media {
        display: flex;
    }

    .social-media img {
        width: 64px;
        height: 64px;
    }

}
